@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}

.dropdown {
    position: relative;
}

.dropdown div {
    background-color: slategray;
    display: none;
}

.dropdown:hover div {
    display: block;
    background:slategrey;
    overflow: hidden;
    transition: width 2s, height 2s, transform 2s;
}

.Link{
    text-decoration: none;
}